// Define variables for your color scheme

// For example:
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #E1E1E1;

$gold: #F8C603;
$light-gold: #FFE890;
$dark-gold: #E9B600;
$darker-gold: #C49C00;
$black: #2A2927;
$dark-gray: #555452;
$mid-gray: #B4B4B4;
$bg-gray: #F2F2F2;
$white: #FFFFFF;
$red: #F54B61;
$blue: #4B93EF;
