<!-- Custom Header -->
<% content_for :meta_title, "Explore the world, one distrikt at a time! - #{DEFAULT_META["meta_product_name"]}" %>
<!-- Custom Header -->

<div id="navbar-sticky">
  <%= render 'shared/navbar' %>
</div>

<div class="explore">
  <%= render 'shared/explore-filters' %>
  <%= render 'shared/explore-map' %>
</div>
