<% content_for(:title_tag) do %>
  Distrikts: Explore the world, one Distrikt at a time!
<% end %>

<div id="navbar-sticky">
  <%= render 'shared/navbar' %>
</div>

<div class="explore">
  <%= render 'shared/explore-filters' %>
  <%= render 'shared/explore-map' %>
</div>
