<%= render 'shared/profile-dash' %>
<%= render 'shared/card-filters' %>

<div class="cards">
  <div class="row">
    <% @sorted = @distrikts.sort {|a,b| compare(b.score, @user.score)<=>compare(a.score, @user.score) } %>
      <%= render 'shared/card' %>
  </div>
</div>