<!-- Custom Header -->
<% content_for :meta_title, "Discover your matching districts! - #{DEFAULT_META["meta_product_name"]}" %>
<!-- Custom Header -->

<%= render 'shared/profile-dash' %>

<%= render 'shared/card-filters' %>

<div id="index-cards">
  <%= render 'shared/index-cards' %>
</div>


