<%= render 'shared/distrikt-banner' %>
<div class="map-places-container">
  <div class="map-left" id="map-left">

  </div>
  <div class="places-right" id="places-right">

  </div>
</div>

<%= render 'shared/home-quotes' %>

<%= render "shared/show-cards" %>

<%= render 'shared/instagram-block' %>
