<%= render 'shared/distrikt-banner' %>
<div class="map-places-container">
  <div class="map-left">
    <%= render 'shared/map' %>
  </div>
  <div class="places-right">
    <%= render 'shared/places' %>
  </div>
</div>

<%= render 'shared/instagram-block' %>