h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

p {
  font-size: 16px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.gold {
  color: #F8C603;
}

.light-gold {
  color: #FFE890;
}

.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

.heading {
  margin-bottom: 40px;
}
