<div class="form-container">
  <div class="upper-form form form-inline text-center">
    <h5>Autofill a new place with Foursquare</h5>
    <%= simple_form_for :search, url: new_distrikt_place_path(@distrikt), method: :get, remote: true do |f| %>
    <%= f.input :filter, label: false, placeholder: "Name" %>
    <%= f.button :submit, "Find", class: "btn-submit" %>
    <% end %>
  </div>
  <div id="place_form">
    <%= render 'shared/place_new_form' %>
  </div>
</div>
