<div class="banner" style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 50%), url('https://static.pexels.com/photos/230875/pexels-photo-230875.jpeg');">

  <div class="banner-content">
    <h1 class="gold upper">Find your city within a city</h1>
    <button class="btn-outline" data-toggle="modal" data-target="#modalQuiz">Find your Distrikts</button>
  </div>
</div>
