<div class="banner" style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 50%), url('https://static.pexels.com/photos/230875/pexels-photo-230875.jpeg');">

  <div class="banner-content">
    <h1 class="banner-headline gold upper">Find your city<br> within a city</h1>

    <a href="#" class="btn btn-sm animated-button thar-gold">Find your Distrikts</a>

<!--     <button class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalSignUp">Find your Distrikts</button> -->
  </div>


</div>
