<% @sorted.each do |distrikt| %>
<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="card">
    <div class="card-body">
      <div class="card-category text-center">
        <h4><%= compare(@user.score, distrikt.score) %></h4>
        <p>MATCH</p>
      </div>
      <div class="card-desc">
        <p><strong><%= distrikt.name %></strong></p>
        <p><%= distrikt.city.name %>, <%= distrikt.city.country %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
