<div class="takequiz-container">
  <div class="takequiz-left">
    <div class="takequiz-left-content">
      <h3 class="heading spaced">Take our quick quiz to<br> find your travel style</h3>
      <a class="btn btn-sm animated-button thar-black" data-toggle="modal" data-target="#modalQuiz">Take the Quiz</a>
    </div>
  </div>

  <div class="takequiz-right">
    <div class="takequiz-left-content text-center">
      <h3 class="gold">You are</h3>
      <h1 class="gold"><%= typing @array %></h1>
    </div>
  </div>

</div>



