<div class="startquiz-container">
    <div class="startquiz-content">
      <h1>Start discovering your<br> Distrikts today</h1>
      <h4 class="heading spaced light">Sign up to get notified</h4>
    </div>
  </div>
