<div class="scout-container">
  <div class="scout-left">
    <div class="scout-left-content">
      <%= image_tag 'scout-placeholder.png', class: "scout-img"  %>
      <div class="scout-left-text">
        <h3 class="hp bumpdown">Become a Distrikts Scout</h3>
        <h4 class="spaced light">Help us map out the best that every Distrikt has to offer. <br>Experienced travelers apply within.</h4>
      </div>
    </div>
  </div>

  <div class="scout-right text-center">

      <h4 class="heading">Apply to become a Scout</h4>
      <a class="btn btn-sm animated-button thar-black text-center" data-toggle="modal" data-target="#modalQuiz">Apply</a>
  </div>

</div>



