<div class="tourists-container">
  <div class="tourists-left">
    <div class="tourists-left-content">
    </div>
  </div>

  <div class="tourists-right">
    <div class="tourists-right-content">
      <h3 class="bumpdown">…and avoid the tourist traps</h3>
      <p class="spaced light">Save time and stress from knowing where to avoid at all cost</p>
    </div>
  </div>

</div>



