<div class="mapblock-container">
  <div class="mapblock-left">
    <div class="mapblock-left-content">
      <h2 class="hp spaced bumpdown">Make the most of your time in a city</h2>
      <h4 class="heading spaced light">Less of trying to see everything, and more of experiencing the things you enjoy most</h4>
      <a class="btn btn-sm animated-button thar-black" id="fly">Zoom in</a>
    </div>
  </div>

  <div class="mapblock-right">
    <div class="mapblock-right-content" id="hp-map">
      <%= render 'shared/home-map' %>
    </div>
  </div>
</div>



