 <div class="banner">
  <div class="overlay"></div>
  <% if [1, 2].sample == 1 %>
    <video autoplay muted preload="auto" class="banner__video" poster="<%= asset_path('home.jpg') %>">
      <source src="<%= asset_path('home.mp4') %>" type="video/mp4">
  <% else %>
    <video autoplay muted preload="auto" class="banner__video" poster="<%= asset_path('home2.jpg') %>">
      <source src="<%= asset_path('home2.mp4') %>" type="video/mp4">
  <% end %>
    </video>

  <div class="banner-content">
    <h1 class="heading gold upper">Find your city within a city</h1>
    <a class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalQuiz">Find your Distrikts</a>
  </div>
</div>
<!-- </div> -->
