<div class="cardstack-container">
  <div class="cardstack-content">
      <%= image_tag 'card-stack.png', class: "cardstack-img"  %>

      <h2 class="hp spaced">Find the Distrikts that<br> best match your style</h2>

  </div>

</div>
