 <div class="banner">
  <div class="overlay"></div>
    <video autoplay muted preload="auto" class="banner__video" loop>
      <source src="<%= asset_path('home1.mp4') %>" type="video/mp4">
    </video>

  <div class="banner-content">
    <h1 class="heading gold upper">Find your city within the city</h1>
    <a class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalQuiz">Take The Quiz</a>
  </div>
</div>
<!-- </div> -->
