<div class="takequiz-container">
  <div class="takequiz-left">
    <div class="takequiz-left-content">
      <h3 class="hp heading spaced">Take our quick quiz to<br> find your travel style</h3>
    </div>
  </div>

  <div class="takequiz-right">
    <div class="takequiz-left-content text-center">
      <h3 class="gold">You are</h3>
      <h1 class="gold"><%= typing @array %></h1>
    </div>
  </div>

</div>

