<div class="dkpage-container">
  <div class="dkpage-left">
        <h2 class="hp bumpdown">Dive into your Distrikts</h2>
        <h4 class="spaced light">Our Scouts curate the best of what each Distrikt has to offer</h4>
  </div>

  <div class="dkpage-right">
      <%= image_tag 'dkpage.png', class: "dkpage-img"  %>
  </div>

</div>
