<div id="steps">
  <h3 class="heading upper text-center">How it works</h3>

  <div class="info-container">

    <div class="step-box text-center">
      <%= image_tag "list.png", class: "home-icon" %>
      <h4 class="upper">Take the quiz</h4>
      <p class="light">Sed posuere consectetur est at lobortis.</p>
    </div>

    <div class="step-box text-center">
      <%= image_tag "profile-card.png", class: "home-icon" %>
      <h4 class="upper">Get your Profile</h4>
      <p class="light">Sed posuere consectetur est at lobortis.</p>
    </div>

    <div class="step-box text-center">
      <%= image_tag "marker.png", class: "home-icon" %>
      <h4 class="upper">Find your Distrikts</h4>
      <p class="light">Sed posuere consectetur est at lobortis.</p>
    </div>

    <div class="step-box text-center">
      <%= image_tag "suitcase-lg.png", class: "home-icon" %>
      <h4 class="upper">Travel Your Style</h4>
      <p class="light">Sed posuere consectetur est at lobortis.</p>
    </div>

  </div>
</div>

