<div class="cardstack-container">
  <div class="cardstack-content">
      <%= image_tag 'card-stack.png', class: "cardstack-img"  %>

      <h3 class="spaced">Find the Distrikts that<br> best match your style</h3>

  </div>

</div>
