<div class="quotes">
  <div class="profile-left">
    <img class="avatar-large text-center" src="https://avatars1.githubusercontent.com/u/22955567?v=4">
    <div class="message-name">
      <h4 class="bold text-center">Guillaume Barthere</h4>
      <p class="text-center">Adventurer</p>
    </div>
  </div>
  <div class="profile-right">
    <h3 class="light">"Always wanted to visit NYC but I didn't really know where to go to make the most of it. Distrikts helped me solve this issue in an interactive and funny way!"</h3>
    <div class="profile-right-distrikt">
      <p>Favorite Distrikts</p>
      <ul class="bold list-inline">
        <li>How</li>
        <li>|</li>
        <li>Are</li>
        <li>|</li>
        <li>You</li>
        <li>|</li>
        <li>Bruuuuuh</li>
      </ul>
    </div>
  </div>
</div>