<div class="startquiz-container">
    <div class="startquiz-content">
      <h1>Start discovering your<br> Distrikts today</h1>
      <h4 class="heading spaced light">Take the quiz to find your travel style,<br> and we’ll find your matching Distrikts</h4>
      <a class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalQuiz">Take the Quiz</a>
    </div>
  </div>
