<div class="flickr-block">
  <h4 class="heading light text-center"><i class="fa fa-flickr" aria-hidden="true"></i>
    <%= @distrikt.name.downcase %></h4>
    <div class="gallery-container-flickr">
        <% Flickr.new.search(@distrikt.latitude, @distrikt.longitude)[0..39].each do |url| %>
          <%= image_tag "#{url}", id: "logo", class: "img-rounded" %>
        <% end %>
    </div>
  </div>
