<div class="insta-container">
  <script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'awesome',
        clientId: <%= ENV['INSTA_ID'] %>
    });
    feed.run();
 </script>
</div>


