<div class="map-places-container">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'>
    </div>

    <script>
      mapboxgl.accessToken = "<%= ENV['MAPBOX-API'] %>";
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-79.4512, 43.6568],
        pitch: 45,
        bearing: -17.6,
        zoom: 13,
      });
    </script>
      </div>

    <!-- PLACES -->
  <div class="places-container">
    <h3>Top picks in <%= @distrikt.name %></h3>
  </div>
</div>