<div class="map-places-container">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'>
    </div>

    <script>
      mapboxgl.accessToken = "<%= ENV['MAPBOX-API'] %>";
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-73.99947,40.7198443],
        pitch: 45,
        bearing: -17.6,
        zoom: 13,
      });


      map.on('load', function() {
    map.loadImage('<%= image_path("marker-map.png") %>', function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": <%= raw @places.to_json %>
                }
            },
            "layout": {
                "icon-image": "cat",
                "icon-size": 0.045,
                "icon-allow-overlap": true
            }
        });
    });
});
    </script>
      </div>

    <!-- PLACES -->
  <div class="places-container">
    <h3>Top picks in <%= @distrikt.name %></h3>
  </div>
</div>