<div class="navbar-wagon" id="top">
  <!-- Logo -->
  <div class="navbar-left">
    <%= image_tag "logo.png", class: "navbar-logo" %>
    <!--root_change-->
    <%= link_to "Distrikts", root_path, class: "navbar-wagon-brand" %>
  </div>
</div>