<div class="filters-top-container">
  <div class="filter-title">
    <h4>Top Picks in <%= @distrikt.name %></h4>
  </div>

</div>
<div class="places">
  <ul id="places-search">
    <%= render @distrikt.places %>
  </ul>
</div>