<div class="dash-container">
  <div class="dash-details">
    <%= image_tag "logo.png", class: "navbar-logo dashboard-position" %>
    <div class="dash-details-information">
      <h1><%= @user.username %></h1>
      <h3><%= @user.style.name %></h3>
      <div class="style-details">
        <button type="button" class="btn btn-default">Details</button>
      </div>
    </div>
  </div>
  <div class="user-filters">
    <div class="users-filter">
      <div class="hexagon-filter">
        <h3>13</h3>
      </div>
      <h4>Wishlist</h4>
    </div>
    <div class="users-filter">
      <div class="hexagon-filter">
        <h3>13</h3>
      </div>
      <h4>Wishlist</h4>
    </div>
    <div class="users-filter">
      <div class="hexagon-filter">
        <h3>13</h3>
      </div>
      <h4>Wishlist</h4>
    </div>
  </div>
</div>