<div class="results-type">

  <div class="results-left text-center">
    <%= image_tag "compass.png", class: "large-icon" %>
    <div class="message-name">

      <h3 class="bold text-center"><%= @styles.first.name %></h3>
      <div class="retake">
        
        <a class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalQuiz">
          <%= image_tag "retake.png", class: "small-icon" %>
          <p class="text-center">Retake Quiz</p>
        </a>
      </div>
    </div>
  </div>

  <div class="results-right">
    <h3 class="light"><%= @styles.first.description %></h3>
  </div>

</div>
