<div class="banner-results" style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 50%), url('http://blog.foodexperiential.com/site/assets/files/4112/shutterstock_159755636.jpg');">


  <div class="banner-results-content">
    <h3 class="gold upper">You are a</h3>
    <h1 class="heading">Urban Explorer</h1>
    <button class="btn btn-outline" data-toggle="modal" data-target="#modalSignUp">Save Your Profile</button>

  </div>

</div>
