<div class="results-type">

  <div class="results-left text-center">
    <%= image_tag "compass.png", class: "large-icon" %>
    <div class="message-name">

      <h3 class="bold text-center">Urban<br> Explorer</h3>
      <div class="retake">
        <%= image_tag "retake.png", class: "small-icon" %>
        <p class="text-center">Retake Quiz</p>

      </div>
    </div>
  </div>

  <div class="results-right">
    <h3 class="light">"Always wanted to visit NYC but I didn't really know where to go to make the most of it. Distrikts helped me solve this issue in an interactive and funny way!"</h3>
  </div>

</div>
