<div id="breakdown">

  <div class="breakdown-heading">
    <h3 class="heading upper text-center">Your Profile Breakdown</h3>
  </div>


  <div class="breakdown-container">

    <div class="breakdown-box text-center">
      <%= image_tag "outdoors.png", class: "type-icon" %>
      <h1 class="bold gold">40%</h1>
      <h4 class="upper">Outdoors</h4>
    </div>

    <div class="breakdown-box text-center">
      <%= image_tag "foodie.png", class: "type-icon" %>
      <h1 class="bold gold">30%</h1>
      <h4 class="upper">Foodie</h4>
    </div>

    <div class="breakdown-box text-center">
      <%= image_tag "sports.png", class: "type-icon" %>
      <h1 class="bold gold">15%</h1>
      <h4 class="upper">Sports</h4>
    </div>

    <div class="breakdown-box text-center">
      <%= image_tag "nightlife.png", class: "type-icon" %>
      <h1 class="bold gold">10%</h1>
      <h4 class="upper">Nightlife</h4>
    </div>

  </div>

  <div class="share-results text-center">
    <a href="#" class="btn btn-sm animated-button thar-black">Share Your Results</a>
  </div>


</div>



