<div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg share-modal-container" role="document">

    <div class="modal-content share-modal-container-left text-center";">
      <h2 class="bumpdown">Share With Friends</h2>
      <h4 class="light">Share your travel profile and the Distrikts quiz with friends</h4>
    </div>

    <div class="modal-content share-modal-container-right">
      <div class="navbar">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

    </div>
  </div>
</div>
