<div id="show-cards">

  <div class="result-cards-container text-center">
    <div class="cards">
      <div class="row">
        <% @sorted = @distrikts.sort {|a,b| compare(b.score, @distrikt.score)<=>compare(a.score, @distrikt.score) } %>
        <%= render 'shared/show-card' %>
      </div>
    </div>

  </div>

</div>
