<%= render "shared/results-banner" %>

<%= render "shared/results-type" %>

<%= render "shared/results-breakdown" %>

<%= render "shared/results-cards" %>

<div class="link-block" >

  <h3 class="upper">Build your travel profile</h3>

  <a href="#" class="btn btn-sm animated-button thar-black">Find your Distrikts</a>


  <!--  <button class="btn btn-sm animated-button thar-one" data-toggle="modal" data-target="#modalSignUp"></button> -->

</div>
