<%= render "shared/banner" %>

<%= render "shared/steps" %>

<%= render 'shared/quotes' %>

<%= render "shared/reasons" %>

<div class="link-block" >
    <h3 class="upper">Build your travel profile</h3>
    <button class="btn-outline-black" data-toggle="modal" data-target="#modalSignUp">Find your Distrikts</button>
</div>


