<%= render "shared/banner" %>

<%= render "shared/steps" %>



<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/85528/pexels-photo-85528.jpeg');">
  <div id="resto-content" class="banner-content">
    <h1 class="headline">Owner of a Seafood Restaurant?</h1>
    <button class="btn-banner" data-toggle="modal" data-target="#modalSignUp">SIGN UP</button>
  </div>
</div>

<%= render "shared/reasons" %>

<div class="link-block" style="background-color: #FFE890" >
    <h3 class="upper">Build your travel profile</h3>
    <button class="btn-outline-black" data-toggle="modal" data-target="#modalSignUp">Find your Distrikts</button>


  </div>
</div>


