.btn-solid {
  text-decoration: none;
  color: white !important;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #648791;
  border: 0px solid transparent !important;
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white !important;
  padding: 10px 20px;
  height: 50px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #648791;
  border: 0px solid transparent !important;
}

.btn-solid-pill {
  text-decoration: none;
  color: #648791 !important;
  margin: 4px;
  height: 30px;
  padding: 2px 7px 2px 7px;
  border-radius: 13px;
  font-weight: 500;
  background-color: transparent !important;
  border: 1px solid #648791 !important;
  display: flex;
  justify-content: center;
  p {
    font-size: 12px;
    text-transform: uppercase;
  padding: 3px 6px 0px 6px;
  }
}

.btn-solid:hover {
  text-decoration: none;
  background-color: #375C69;
}

.btn-banner {
  text-decoration: none;
  padding: 15px 25px;
  color: #375C69 !important;
  background-color: #F3FAF9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  border: 0px solid #ffffff !important;
}

.btn-banner:hover {
  text-decoration: none;
  background-color: #96B3BB;
}

.headline {
  margin-bottom: 40px;
}

.btn-clear {
  text-decoration: none;
  color: white !important;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #B9E4E2;
  border: 0px solid transparent !important;
}

.btn-clear:hover {
  text-decoration: none;
  background-color: #96B3BB;
}

.btn-fb {
  margin-top: 14px;
  height: 52px;
  text-decoration: none;
  color: white !important;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #3C66C4;
  border: 0px solid transparent !important;
  &:hover {
    background-color: #2350b5;
  }
}
