#card-filters-wrapper {
  // min-height: 180px;
  // padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #E1E1E1;
}

.card-filters-container {
  display: flex;
  max-width: 1200px;
  height: 10vh;
  justify-content: space-between;
  margin: 10px 50px 10px 50px;
}

.card-filters-left {
  display: flex;
}

// pagination

.paginate {
  display: flex;
  flex-direction: column;
  padding: 20px;
  nav {
    margin: 0 auto !important;
  }
}

.paginate-bottom {
  display: flex;
  margin: 0 auto;
}
