.card-filters-container {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  margin: 10px 50px 10px 50px;
}

.card-filters-left {
  display: flex;
}

// pagination

.paginate {
  display: flex;
  flex-direction: column;
  padding: 20px;
  nav {
    margin: 0 auto !important;
  }
}

.paginate-bottom {
  display: flex;
  margin: 0 auto;
}

.hexagon-card {
  height: 100px;
  width: 100px;
  z-index: 2;
}