.card {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px 0px 0px;
  position: relative;
  top: -20px;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-home {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 20px 10px;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



.card:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.6);
}

.card-body {
  height: 300px;
  position: relative;
  background-size: cover;
  text-align: left;
}

.card-avatar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-category {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  h4 {
    font-size: 28px;
    font-weight:400;
    margin-bottom: -4px;
  }
  h5 {
    margin-top: -4px;
    font-size: 10px;
    line-height: 1;
    font-weight: 600;
  }
}

.card-icon {
  width: 30px;
}

.card-desc {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
}

.card-desc h2{
  font-size: 34px;
  line-height: 1.3;
  font-weight:500;
}



.card-footer {
  height: 50px;
  position: relative;
}

.card-links ul {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #ccc;
}

.card-links ul li {
  text-decoration: none;
  display: inline;
  margin: 8px;
}

.card-links ul li a {
  color: #ccc;
  text-decoration: none;
}

.card-links ul li a:hover {
  color: #aaa;
  text-decoration: none;
}

.card-date {
  position: absolute;
  bottom: 13px;
  left: 5px;
  color: #ccc;
}

.card-desc h2 a {
  color: #fff;
}
