.explore {
  display: flex;
  z-index: -1;
  height: 100vh;
  margin-top: -30px;
}

#map-explore {
  flex: 1 1 auto;
  background-color: #96B3BB;
  height: calc(100vh);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  margin-bottom: 20px;
}
