// div {
//   outline: 1px solid red;
// }

// steps info box

#steps {
  min-height: 400px;
  padding: 40px 0px;
  // flex-direction: column;
  background-color: white;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.step-box {
  // flex: 1 1 25%;
  margin: 0px 10px;
  width: 25%;
  height: 100px;
}


// reasons info box

#reasons {
  min-height: 400px;
  padding: 40px 0px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reasons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reason-box {
  // flex: 1 1 25%;
  margin: 0px 10px;
  margin-bottom: 20px;
  width: 25%;
  height: 100px;
}

// global

.home-icon {
  height: 40px;
  margin-bottom: 20px;
}


// results type

.results-type {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;

}

.results-left {
  flex: 1 1 30%;
  padding: 30px;
  .large-icon {
    width: 100px;
  }
  .message-name {
    margin-top: 10px;
  }
}

.results-right {
  flex: 1 1 70%;
  padding: 30px;
}

.retake {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .small-icon {
    margin-right: 8px;
    width: 20px;
  }
}

// results breakdown

#breakdown {
  min-height: 400px;
  padding: 40px 0px;
  background-color: white;
  // display: flex;
  // flex-direction: column;
  // // align-items: center;
  // justify-content: space-around;
  // // flex-wrap: nowrap;
}

.breakdown-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.breakdown-box {
  flex: 1 1 auto;
  // margin: 0px 60px;
  // width: 25%;
  // height: 100px;
}
.type-icon {
  height: 80px;
  margin-bottom: 20px;
}

.share-results {
  display: flex;
  align-items: center;
  flex-direction: column;
  // flex: 0 0 auto;
  // margin: 30px;
  a {
      width: 200px;
      margin-top: 40px;
  }
}
