.map-container {
  width: 65%;
}

#map { 
  width: 100%;
  height: 100%;
}

#geocoder-container > div {
      min-width:50%;
      margin-left:25%;
      }

.map-places-container {
  display: flex;
  height: calc(100vh - 46px);
  position: relative;
}

.map-left {
  width: 60%;
}

.places-right {
  width: 40%;
}