// div {
//   outline: 1px solid red;
// }

.modal-container {
  display: flex;
}

.modal-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  width: 50%;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.icelandtravel.is/servlet/file/store5085/item702168/version1/fileservice3983/702168_3983_preview.jpg') !important;
  background-size: cover;
  background-position: center;

}

.modal-container-right {
  width: 50%;
}

.quiz-modal-container {
  display: flex;
  height: 600px;
}

.quiz-modal-container-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0 15px;
  width: 32%;
  background-color: #FEE795;
  color: #555452 !important;
}

.top-text {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 20px;
  h4 {
    margin-top: 24px;
  }
}

.bottom-text {
  margin-bottom: 30px;
}

.quiz-modal-container-right {
  width: 70%;
}

.quiz-container {
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {

  flex: 1 1 50%;
}

.modal-content {
  box-shadow: none !important;
}

.intro {
  color: white;
}

.close {
  margin: 5px 10px 0 0;
}
