// div {
//   outline: 1px solid red;
// }

.modal-container {
  display: flex;
  min-height: 600px;
}

.modal-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  width: 50%;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/397434/pexels-photo-397434.jpeg') !important;
  background-size: cover;
  background-position: center;
}

.modal-container-right {
  width: 50%;
  padding: 20px;
}

.quiz-modal-container {
  display: flex;
  height: 600px;
}

.quiz-modal-container-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0 15px;
  width: 30%;
  margin: 0;
  background-color: #FEE795;
  color: #555452 !important;
}

.top-text {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 20px;
  h4 {
    margin-top: 24px;
  }
}

.bottom-text {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 20px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.quiz-modal-container-right {
  width: 70%;
}

.quiz-container {
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {
  flex: 1 1 50%;
}

.modal-content {
  box-shadow: none !important;
}

.intro {
  color: white;
}


// profile modal
.profile-modal-container {
  display: flex;
  height: 600px;
}

.profile-modal-container-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0 15px;
  width: 40%;
  margin: 0;
  background-color: #FEE795;
  color: #555452 !important;
}

.small-style-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
}
.style-top {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 40px;
  h2 {
    margin-bottom: 28px;
  }
}

.close-modal {
  padding: 15px;
}

.profile-modal-container-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    margin-bottom: 30px;
  }
}

.breakdown-modal-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.breakdown-modal-box {
  // flex: 0 0 auto;
  margin: 0px 60px;
  width: 25%;
  height: 180px;
  margin-bottom: 40px;
  h1 {
    margin-top: -10px;
  }
}
.type-icon {
  height: 80px;
  margin-bottom: 20px;
}

.modal-type-icon {
  height: 80px;
  margin-bottom: 20px;
}


// share modal
.share-modal-container {
  display: flex;
  height: 600px;
}

.share-modal-container-left {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  width: 50%;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6)), url('https://static.pexels.com/photos/397434/pexels-photo-397434.jpeg') !important;
  background-size: cover;
  background-position: center;
}

.share-modal-container-right {
  width: 50%;
}

.upper-form {
  margin-bottom: 20px;
}

// search modal
.search-modal-body {
  // background-color: $black;
}

#places-results {
  border-top: 1px solid $mid-gray !important;
}


.quiz-modal-body {
  margin-top: -15px;
}
