#dash {
  min-height: 180px;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.dash-container {
  display: flex;
  min-width: 1050px;
  // padding: 0 0 0 0;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.dash-details {
  display: flex;
}

.dash-avatar {
  width: 20%; height: 20%;
  margin-right: 30px;
  margin-top: 10px;
}

.hex-filter {
  width: 70%; height: 70%;
}

.dash-details-information {
  display: flex;
  flex-direction: column;
}

.dash-details-advanced {
  display: flex;
}

.user-filters {
  display: flex;
  justify-content: space-between;
}

.users-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.outline-hex.hidden + div {
  color: white;
}

.active-filter {
  color: white !important;
}

.filter-block {
  color: #f8c604;
  // position: relative;
  // top: 30px;
}

.dashboard-tags {
  font-size: 3px;
}

.filter-num {
  margin-top: -95px;
}

.wishlist{
  margin-top: 0;
}
.avatar-lg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
