// div {
//   outline: 1px solid red;
// }

// * {
//   outline: 1px solid red;
// }


// banner

.sample-banner {
  color: white;
  text-align: center;
  height: calc(75vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



// simple 50/50
.simple-container {
  min-height: 500px;
  display: flex;
  justify-content: space-between;
}

.simple-left {
  background-color: #E1E1E1;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.simple-left-content {
  min-width: 350px;
  flex: 0 0 auto;
  padding-left: 60px;
}

.simple-right {
  background-color: black;
  flex: 1 1 auto;
}


// steps block

#sample-wrapper {
  min-height: 400px;
  padding: 40px 0px;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
}

.sample-main-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 50px;
}

.sample-box {
  // flex: 1 1 25%;
  margin: 0px 10px;
  width: 25%;
  height: 100px;
}


