<li>
  <div class="place">
    <div class="place-category">
      <p id="<%= place.category %>"><%= place.category.upcase %> | $$</p>
    </div>
    <div class="place-name">
      <h3><%= place.name %></h3>
    </div>
    <div class="place-description">
      <p><%= place.address %></p>
    </div>
  </div>
</li>
